{{ define "content" }}
    {{ $length := len .allArticlesMeta}} {{if gt $length 0}}
        <ul class="list-group list-group-horizontal-lg">
            {{ range .allArticlesMeta }}
                <li class="list-group-item"><a href="/articles/{{.ConfluenceID}}">{{ .Title}}</a></li>
            {{ end }}
        </ul>
    {{else}}
        <div class="alert alert-warning" role="alert">
            Articles have not indexed yet. Use [Do Index] button
        </div>
    {{end}}
{{ end }}