{{define "navbar"}}
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="/">{{.brandName}}</a>
        <a class="btn btn-primary" href="/do_index" role="button">Do Index</a>
    </nav>
{{end}}